@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/*font-family: 'Noto Serif KR', serif;*/


/*-----------------------------------------------------------*/ 

#wrap {}

@media screen and (max-width:768px) {
    
    .wrap {min-width:auto;}
}

/** 탑베너 2021. 11. 15 **/

#top_banner {background:#f0e2b3;}
#top_banner .container {width:1200px;margin:0 auto;padding:15px;height:110px;}
#top_banner .ban {display:flex;text-align:center;width:470px;margin:0 auto;position: relative;}
#top_banner h2 {font-weight:500; color:#693C10;margin-top:10px;font-family: 'Noto Serif KR';margin-right:10px;}
#top_banner .left img {width:100px;}
#top_banner .right img {width:100px;}
#top_banner .btn {position:absolute;top:20px;right:370px;transform:translateY(-50%); z-index:1000;width:30px;padding:0 15px;text-align:right; }
#top_banner i {font-size:20px;color:#693C10;}
#top_banner i.on {display:none;}

@media (max-width:768px) {

    #top_banner {display:none;}
}

/*-----------------------------------------------------------*/              

/** 헤더 2021. 11. 17  **/

#header {line-height:50px;width:100%; border-bottom:0.1px solid #b9b2ab; color:#fff;position:fixed;top:110px;left:0;z-index:99999999;transition:0.2s;}
#header.on {background:#0d4633;top:0;border-bottom:none}
#header:hover {border-bottom:none; background: #0d4633;}
#header .container {display:flex; width:1200px;padding:0 15px;margin:0 auto; justify-content:space-between;}
#header h1 {width:200px;background:url(../img/logo-w.png)no-repeat left center/200px;}
.gnb {display:flex;}
.gnb>ul {display:flex;justify-content:space-between;width:500px;}
.gnb>ul>li {position: relative;line-height:80px;}

.gnb>ul>li>a {display:block;font-size:18px;font-family: 'Noto Serif KR', serif;}
.gnb>ul>li>a:after {content:"";display:block;width:8px;height:8px;border-radius:50%;background:#f0e2b3;position:absolute;top:50%;left:50%;transform:translateY(-50%);opacity:0;transition:0.3s;}
.gnb>ul>li:hover>a:after {content:"";display:block;width:10px;height:10px;border-radius:50%;background:#f0e2b3;position:absolute;top:40%;left:105%;transform:translateY(-50%);opacity:1;}
.gnb>ul>li .depth {display:none;width:150px;font-size:15px;text-align:center;position:absolute;top:90px;left:50%;transform:translateX(-50%);line-height:30px;z-index:999;}
.gnb>ul:hover>li .depth {display:block;}
.gnb>ul>li:hover .depth:before {content:"";display:block;width:150px;height:250px;background:#0d4633;position:absolute;top:-10px;left:0;z-index:-1;}
.depth>li>a {font-size:15px; font-weight:300;}
.depth>li:hover>a {border-bottom:1px solid #fff;}

.sns {display:flex;width:150px;justify-content:space-between;}
.sns>li>a {line-height:4.5;}
.sns>a {font-size:18px;text-align:center;line-height:4;}

.gnb:after {content:"";display:block;width:100%;background:#ba835a; height:0;z-index:888;position:absolute;top:80px;left:0;z-index:888;transition:0.2s;}
.gnb>ul:hover::after {content:"";display:block;width:100%;background:#ba835a; height:250px;z-index:888;position:absolute;top:80px;left:0;z-index:888;}

.mopen {display:none;}

@media (max-width:768px) {
    *{outline:0.5px solid #f0-0;}
    #header {line-height:50px;width:auto;border-bottom:none;color:#0d4633;}
    #header:hover {line-height:50px;border-bottom:none;background:none;}
    #header .container {display:flex;flex-direction:column; width:auto;padding:0 15px;margin:0 auto; justify-content:space-between;position: relative;}
    #header.on {background:#0d4633;top:0;border-bottom:none}

    #header h1 {width:150px;height:30px;padding:0 15px;background:url(../img/logo.png)no-repeat center center/100%;position:fixed;top:20px;left:20px;z-index:999;}

    .gnb {position:fixed;top:0;left:-100%;display:flex;flex-direction:column;width:calc(100% - 120px);height:100vh;background:#fff;border-right:1px solid #ddd; padding:200px 0 0 0;transition:0.5s;}
    .gnb.on {left:0;}


    .gnb>ul {display:flex;flex-direction:column;width:100%;}
    .gnb>ul>li {position: relative;line-height:3;text-align:center;}
    .gnb>ul>li>a {display:block;width:100%; font-size:15px;font-weight:500;font-family: 'Noto Serif KR', serif;border-bottom:1px solid #ba835a;}
    .gnb>ul>li:hover>a:after {content:"";display:none;width:100%;height:1px;background:#fff;position:absolute;top:75px;left:0;}

    .gnb>ul>li .depth {display:none;position:static;top:0;left:0;transform:none;width:100%;height:auto;background:#ba835a;text-align:center;line-height:30px;padding:10px 20px;}
    .gnb>ul:hover>li .depth {display:none;}
    .gnb>ul>li:hover .depth:before {display:none;}
    .depth>li>a {font-size:14px;font-weight:100;color:#fff;}
    .depth>li:hover>a {font-size:14px;font-weight:100;border-bottom:none;}

    #header .sns {display:flex;width:150px;justify-content:space-between;position:fixed;top:100px;left:-200px;z-index:9999;transition:0.4s;}
    #header .sns.on {left:40px;}
    #header .sns>li>a {padding:5px 10px;}
    #header .sns>li:hover>a {background:#0d4633;color:#fff;}
    #header .sns>a {font-size:20px;text-align:center;}

    .gnb:after {display:none;}
    .gnb>ul:hover:after {display:none;}


    .mopen {position:fixed;top:20px;right:20px;display:inline-block;width:30px;height:20px;}
    .mopen span {position:absolute;top:0;left:0;display:block;width:100%;height:3px;background:#0d4633; border-radius:4px;z-index:999;transition:0.4s;}
    .mopen span:nth-child(1) {top:0%;}
    .mopen span:nth-child(2) {top:50%;}
    .mopen span:nth-child(3) {top:50%;}
    .mopen span:nth-child(4) {top:100%;}

    .mopen.on span:nth-child(1) {opacity:0;}
    .mopen.on span:nth-child(4) {opacity:0;}

    .mopen.on span:nth-child(2) {transform:rotate(45deg);}
    .mopen.on span:nth-child(3) {transform:rotate(-45deg);}    
}
/*-----------------------------------------------------------*/ 



/** 메인비주얼 동영상 2021.11.15 **/

#main_visual {width:100%;min-width:1900px; height:100vh;object-fit:cover;}
@media (max-width:768px) {
    #main_visual {width:100%;min-width:0px;height:100vh;background:#fff;}
}
/*-----------------------------------------------------------*/ 



/** 뉴 프로덕트 신제품 (슬라이드) 2021. 11. 18 **/


#new_pro {padding:120px 0;}
#new_pro h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:50px;text-align:center;position:relative;}
#new_pro .container {display:flex;justify-content:space-between;width:1200px;margin:0 auto;padding:0 15px;}

#new_pro .left {width:420px;text-align:center;}
#new_pro .left .tit {margin-bottom:20px;}
#new_pro .left .under {margin-bottom: 20px;}
#new_pro .left .under div {display:flex;}
#new_pro .left .under div img {width:100%;}
#new_pro .left .under figure {margin:0 5px;}
#new_pro .left .under p {font-size:18px;font-weight:400;color:#693C10;letter-spacing:-0.025em;text-align:center;height:55px;line-height:3;margin-top:18px;}
#new_pro .left .btn {width:130px; padding:8px 0;border:1px solid #0d4633;margin:0 auto;}
#new_pro .left .btn a {font-size:14px;font-weight:300;color:#0d4633;}
#new_pro .left .btn i {padding:5px;}

#new_pro .right {width:570px;margin-left:85px;position: relative;background:url(../img/bg-orange.png)no-repeat center center/100%;}

#new_pro .rgt_slider {width:570px;}
#new_pro .rgt_slider img {width:570px;height:100%;}

#new_pro .rgt_slider .slick-dots {display:flex;justify-content:space-between;width:180px;margin:0 auto;}
#new_pro .rgt_slider .slick-dots li {width:10px;height:10px;background:#ba835a;border-radius:10px; margin:10px 3px;}
#new_pro .rgt_slider .slick-dots li.slick-active {width:90px;height:10px;background:#ba835a;border-radius:10px;transition:0.4s;}
#new_pro .rgt_slider .slick-dots li button {outline:none;background:none;border:none;display:none;}

#new_pro .c_letter img {position:absolute;top:70%;left:0;width:150px;z-index:2;animation:circlemove 10s infinite linear}
@keyframes circlemove {
    to {transform:rotate(360deg);}
}

@media (max-width:768px) {
    
    #new_pro {padding:120px 0;}
    #new_pro h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:40px;text-align:center;position:relative;}
    #new_pro .container {display:flex;flex-direction:column;justify-content:space-between;width:auto;margin:0 auto;padding:0 15px;}

    #new_pro .left {width:auto;text-align:center;}
    #new_pro .left .tit {margin-bottom:30px;}
    #new_pro .left .tit img {width:85%;}
    #new_pro .left .under {display:none;}
    #new_pro .left .btn {width:130px; padding:5px 0;border:1px solid #0d4633;margin:0 auto;}
    #new_pro .left .btn a {font-size:14px;font-weight:300;color:#0d4633;}
    #new_pro .left .btn i {padding:5px;}

    #new_pro .right {width:auto;margin-left:0px;position: relative;background:url(../img/bg-orange.png)no-repeat center center/100%;}

    #new_pro .rgt_slider {width:auto;}
    #new_pro .rgt_slider img {width:100%;height:100%;}

    #new_pro .rgt_slider .slick-dots {display:flex;justify-content:space-between;width:150px;margin:0 auto;}
    #new_pro .rgt_slider .slick-dots li {width:10px;height:10px;background:#ba835a;border-radius:10px; margin:10px 3px;}
    #new_pro .rgt_slider .slick-dots li.slick-active {width:90px;height:10px;background:#ba835a;border-radius:10px;transition:0.4s;}
    #new_pro .rgt_slider .slick-dots li button {outline:none;background:none;border:none;display:none;}

    #new_pro .c_letter img {position:absolute;top:70%;left:0;width:100px;z-index:2;animation:circlemove 10s infinite linear}
    @keyframes circlemove {
        to {transform:rotate(360deg);}
    }
}
/*-----------------------------------------------------------*/ 

/** 베스트 **/

#Best {padding-bottom:160px;}
#Best h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:50px;text-align:center;position: relative;}
#Best .container {width:1200px;margin:0 auto;padding:0 15px;}
#Best .b_slide {display:flex;justify-content:space-between;text-align:center;position: relative;}
#Best .b_slide .best {width:234px;}
#Best .b_slide figure {width:200px;height:200px; background:#f0e2b3;border-radius:50%;margin-bottom:15px;position:relative;margin:0 auto 10px auto;}
#Best .b_slide figure:after {content:"Best";display:block;position:absolute;top:15px;left:7px;color:#fff;}
#Best .b_slide figure:before {content:"";display:block;position:absolute;top:0;left:0;width:50px;height:50px;background:#ba835a;border-radius:50px;}
#Best .b_slide figure img {width:100%;}
#Best .b_slide .b_06 img {width:90%;margin:auto;padding-top:9px;}
#Best .b_slide .b_10 img {width:90%;margin:auto;padding-top:9px;}
#Best .b_slide .b_13 img {width:95%;margin:auto;padding-top:5px;}
#Best .b_slide .b_14 img {width:85%;margin:auto;padding-top:18px;}
#Best .b_slide .b_15 img {width:85%;margin:auto;padding-top:15px;}
#Best .b_slide h3 {font-size:17px;font-weight:500;color:#0d4633;}

#Best .b_slide .slick-dots {display:flex;justify-content:space-between;width:60px;position:absolute;bottom:-40px;left:50%;transform:translateX(-50%);}
#Best .b_slide .slick-dots li {width:10px;height:10px;;border-radius:50%;border:1px solid #f36a26;}
#Best .b_slide .slick-dots li.slick-active {background:#f36a26;border:none; transition:0.4s;}
#Best .b_slide .slick-dots li button {outline:none;background:none;border:none;display:none;}

@media (max-width:768px) {
     
    #Best {padding-bottom:160px;}
    #Best h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:50px;text-align:center;position: relative;}
    #Best .container {width:auto;margin:0 auto;padding:0 15px;}
    #Best .b_slide {display:b;justify-content:space-between;text-align:center;position: relative;}
    #Best .b_slide .best {width:100%;padding:0 5px;}
    #Best .b_slide figure {width:100%;height:auto;background:#f0e2b3;border-radius:50%;margin-bottom:15px;position:relative;margin:0 auto 10px auto;}
    #Best .b_slide figure:after {content:"Best";display:block;position:absolute;top:15px;left:7px;color:#fff;}
    #Best .b_slide figure:before {content:"";display:block;position:absolute;top:0;left:0;width:50px;height:50px;background:#ba835a;border-radius:50px;}
    #Best .b_slide figure img {width:100%;}
    #Best .b_slide .b_06 img {width:95%;margin:auto;padding-top:9px;}
    #Best .b_slide .b_10 img {width:95%;margin:auto;padding-top:9px;}
    #Best .b_slide .b_13 img {width:97%;margin:auto;padding-top:5px;}
    #Best .b_slide .b_14 img {width:90%;margin:auto;padding-top:18px;}
    #Best .b_slide .b_15 img {width:85%;margin:auto;padding-top:15px;}
    #Best .b_slide h3 {font-size:14px;font-weight:500;color:#0d4633;}
    
    #Best .b_slide .slick-dots {display:flex;justify-content:space-between;width:100px;position:absolute;bottom:-40px;left:50%;transform:translateX(-50%);}
    #Best .b_slide .slick-dots li {width:8px;height:8px;;border-radius:50%;border:1px solid #f36a26;}
    #Best .b_slide .slick-dots li.slick-active {background:#f36a26;border:none; transition:0.4s;}
    #Best .b_slide .slick-dots li button {outline:none;background:none;border:none;display:none;}    
}

/*-----------------------------------------------------------*/ 



/** 재료이야기 - 배너 2021. 11. 22 **/
#banner {background:url(../img/bannerbkg.jpg)no-repeat center center/cover;max-width:100%;height:630px; text-align:center;padding:80px 0;color:#fff;}
#banner h2 {margin-bottom:15px;}
#banner h2 img {width:200px;}
#banner>p {font-family: 'Noto Serif KR';font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}
#banner a {display:block;padding:8px 0;width:100px;margin:0 auto 10px auto;border:1px solid #fff;font-size:13px;}
#banner a:hover {background:#ba835a;border:none;}

#banner .container {display:flex;width:1200px;margin:0 auto;}
#banner .container>* {flex:1;padding:0 10px;}
#banner figure {width:100%;height:150px;margin-bottom:20px;}
#banner figure img {height:100%;}
#banner span {display:block;width:300px;height:1px;background:#ddd;margin:10px auto;}
#banner h3 {font-family: 'Noto Serif KR', serif;font-size:16px;letter-spacing:-0.025em;margin-top:20px;}
#banner .container p {font-size:14px;font-weight:300;letter-spacing:-0.025em;line-height:1.5;}

#banner .salt img {height:70%;margin-top:30px;}

@media (max-width:768px) {
    #banner {background:url(../img/bannerbkg.jpg)no-repeat center center/cover;max-width:100%;height:1200px; text-align:center;padding:80px 0;color:#fff;}
    #banner h2 {margin-bottom:15px;}
    #banner h2 img {width:200px;}
    #banner>p {font-family: 'Noto Serif KR';font-size:13px;font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}
    #banner a {display:block;padding:8px 0;width:100px;margin:0 auto 50px auto;border:1px solid #fff;font-size:13px;}
    #banner a:hover {background:none;border:1px solid #fff;}
    
    #banner .container {display:flex;flex-direction:column;width:auto;margin:0 auto;}
    #banner .container>* {flex:1; padding:0 10px;margin-bottom:20px;}
    #banner figure {width:100%;height:120px;margin-bottom:20px;}
    #banner figure img {height:100%;}
    #banner span {display:block;width:50%;height:1px;background:#ddd;margin:10px auto;}
    #banner h3 {font-family: 'Noto Serif KR', serif;font-size:14px;letter-spacing:-0.025em;margin-top:20px;}
    #banner .container p {font-size:13px;font-weight:300;letter-spacing:-0.025em;line-height:1.5;}
    
    #banner .salt {margin-bottom:50px;}
    #banner .salt img {height:70%;margin-top:30px;}  
}
/*-----------------------------------------------------------*/ 

/** 공통 **/
#pre_order {padding:120px 0;}
#pre_order h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;text-align:center;position:relative;}

#pre_order .container {width:1200px;margin:0 auto;padding:0 15px;}
@keyframes cakemove {
    0% {transform:rotate(1deg)}
    50% {transform:rotate(-1deg)}
    100% {transform:rotate(1deg)}
}
#pre_order .p_slide {position:relative;display:flex;justify-content:space-between;height:600px;}
#pre_order .pre {text-align:center;}
#pre_order .pre figure {width:350px;height:350px;overflow:hidden;margin:0 auto;animation:cakemove 2s infinite;}
#pre_order .pre figure img {width:100%;}
#pre_order .pre figure:after {content:"";display:block;position:absolute;top:35px;left:27px;width:0;height:0;border-radius:50%;border:2px dashed #ba835a; z-index:-1;opacity:0;}
#pre_order .pre figure:hover:after {width:240px;height:240px;opacity:1;transition:0.3s;}
#pre_order .pre ul {display:block;text-align:left;margin-top:10px;font-size:14px;width:300px;margin:0 auto;}
#pre_order .pre ul strong {font-size:17px;font-weight:500;margin-bottom:50px;color:#0d4633;}
#pre_order .pre ul>p {margin:10px 0;line-height:1.2;font-size:12px;}
#pre_order .pre ul>li {margin:10px 0 20px 0;color:#f36a26;}
#pre_order .pre ul a {padding:5px 15px;border:1px solid #0d4633;}
#pre_order .pre ul a:hover {padding:5px 15px;background:#0d4633;color:#fff;}


#pre_order .p_slide .slick-arrow {position:absolute;top:46%;transform:translateY(-50%);}
#pre_order .p_slide .slick-arrow i {font-size:20px;padding:10px;color:#ba835a;border-radius:50%;border:1px solid #ba835a;cursor:pointer;z-index:999;}
#pre_order .p_slide .slick-arrow.prev {left:-20px;}
#pre_order .p_slide .slick-arrow.next {right:-20px;}

/*cake figure*/
/*cake01*/
#pre_order .cake01 figure {width:350px;height:300px;overflow:hidden;}
#pre_order .cake01 figure:after {top:35px;left:27px;}
#pre_order .cake01 figure:hover:after {width:240px;height:240px;}
/*cake02*/
#pre_order .cake02 figure {width:350px;height:350px;overflow:hidden;margin-top:80px;}
#pre_order .cake02 figure:after {top:15px;left:25px;}
#pre_order .cake02 figure:hover:after {width:300px;height:300px;}
/*cake03*/
#pre_order .cake03 ul {width:250px;}
#pre_order .cake03 figure {width:350px;height:300px;overflow:hidden;}
#pre_order .cake03 figure:after {top:50px;left:95px;}
#pre_order .cake03 figure:hover:after {width:200px;height:200px;}
/*cake04*/
#pre_order .cake04 ul {width:250px;}
#pre_order .cake04 figure {width:320px;height:260px;overflow:hidden;margin-top:50px;}
#pre_order .cake04 figure:after {top:0px;left:80px;}
#pre_order .cake04 figure:hover:after {width:230px;height:230px;}
/*cake05*/
#pre_order .cake05 figure {width:350px;height:300px;overflow:hidden;margin-top:100px;}
#pre_order .cake05 figure:after {top:20px;left:10px;}
#pre_order .cake05 figure:hover:after {width:260px;height:260px;}
/*cake06*/
#pre_order .cake06 ul {width:250px;}
#pre_order .cake06 figure {width:350px;height:300px;overflow:hidden;}
#pre_order .cake06 figure:after {top:20px;left:50px;}
#pre_order .cake06 figure:hover:after {width:230px;height:230px;}

@media (max-width:768px) {
      
    /** 공통 **/
    #pre_order {padding:120px 0;}
    #pre_order h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;text-align:center;position:relative;}
    
    #pre_order .container {width:auto;margin:0 auto;padding:0 15px;}
    @keyframes cakemove {
    0% {transform:rotate(1deg)}
    50% {transform:rotate(-1deg)}
    100% {transform:rotate(1deg)}
    }
    #pre_order .p_slide {position:relative;display:block;justify-content:space-between;height:auto;}
    #pre_order .pre {text-align:center;}
    #pre_order .pre figure {width:350px;height:350px;overflow:hidden;margin:0 auto;animation:cakemove 2s infinite;}
    #pre_order .pre figure img {width:100%;}
    #pre_order .pre figure:after {content:"";display:block;position:absolute;top:35px;left:27px;width:0;height:0;border-radius:50%;border:2px dashed #d8bca7; z-index:-1;opacity:0;}
    #pre_order .pre figure:hover:after {width:240px;height:240px;opacity:1;transition:0.3s;}
    #pre_order .pre ul {display:block;text-align:left;margin-top:10px;font-size:14px;width:300px;margin:0 auto;height:140px;}
    #pre_order .pre ul strong {font-size:17px;font-weight:500;margin-bottom:50px;color:#0d4633;}
    #pre_order .pre ul>p {margin:10px 0;line-height:1.2;font-size:12px;}
    #pre_order .pre ul>li {margin:10px 0 20px 0;color:#f36a26;}
    #pre_order .pre ul a {padding:5px 15px;border:1px solid #0d4633;}
    #pre_order .pre ul a:hover {padding:5px 15px;background:#0d4633;color:#fff;}


    #pre_order .p_slide .slick-arrow {position:absolute;top:35%;transform:translateY(-50%);}
    #pre_order .p_slide .slick-arrow i {font-size:15px;padding:10px;color:#ba835a;border-radius:50%;border:1px solid #ba835a;cursor:pointer;z-index:999;}
    #pre_order .p_slide .slick-arrow.prev {left:0px;}
    #pre_order .p_slide .slick-arrow.next {right:0px;}

    /*cake figure*/
    /*cake01*/
    #pre_order .cake01 figure {width:350px;height:350px;overflow:hidden;}
    #pre_order .cake01 figure:after {top:35px;left:27px;}
    #pre_order .cake01 figure:hover:after {width:240px;height:240px;}
    /*cake02*/
    #pre_order .cake02 figure {width:350px;height:350px;overflow:hidden;margin-top:0;}
    #pre_order .cake02 figure:after {top:15px;left:25px;}
    #pre_order .cake02 figure:hover:after {width:300px;height:300px;}
    /*cake03*/
    #pre_order .cake03 ul {width:300px;}
    #pre_order .cake03 figure {width:350px;height:350px;overflow:hidden;}
    #pre_order .cake03 figure:after {top:50px;left:95px;}
    #pre_order .cake03 figure:hover:after {width:200px;height:200px;}
    /*cake04*/
    #pre_order .cake04 ul {width:300px;}
    #pre_order .cake04 figure {width:320px;height:350px;overflow:hidden;margin-top:0;}
    #pre_order .cake04 figure img {width:95%; margin-top:60px;}
    #pre_order .cake04 figure:after {top:20px;left:80px;}
    #pre_order .cake04 figure:hover:after {width:230px;height:230px;}
    /*cake05*/
    
    #pre_order .cake05 figure {width:350px;height:350px;overflow:hidden;margin-top:0;}
    #pre_order .cake05 figure:after {top:20px;left:10px;}
    #pre_order .cake05 figure:hover:after {width:260px;height:260px;}
    /*cake06*/
    #pre_order .cake06 ul {width:300px;}
    #pre_order .cake06 figure {width:350px;height:350px;overflow:hidden;}
    #pre_order .cake06 figure:after {top:20px;left:50px;}
    #pre_order .cake06 figure:hover:after {width:230px;height:230px;}    
}

/** 공지사항,이벤트, 채용안내 - 탭메뉴 **/
#infom {padding-bottom:50px;}
#infom h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:50px;text-align:center;position: relative;}

#infom .container {width:1200px;padding:0 15px;margin:0 auto;display:flex;justify-content:space-between;}
#infom .container>div~div::after {content:"";display:block;}
#infom .j_slide {width:320px;border-radius:20px 0 20px 0;box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);}
#infom .j_slide .job {padding:40px 30px;}
#infom .j_slide .job strong {display:block;font-size:18px;font-weight:800;margin-bottom:20px;}
#infom .j_slide .job h3 {font-weight:600;line-height:1.2;margin-bottom:20px;color:#0d4633;}
#infom .j_slide .job p {font-size:14px;font-weight:300;margin-bottom:20px;color:#444;}
#infom .j_slide .job span {display:block;width:25%; padding:25px 0;background:#f36a26;color:#fff;border-radius:50%;text-align:center;margin-left:193px;}

#infom .news {width:420px;}
#infom .news h3 {font-size:18px;font-weight:800;margin-bottom:20px;}
#infom .news .plus {text-align:right;}
#infom .news .plus i {color:#fff;background:#ba835a;padding:3px;border-radius:50%;}
#infom .news .list {border-bottom:2px solid #0d4633;}
#infom .news .list>a {display:flex;text-align:center;}
#infom .news .list h4 {font-size:13px;font-weight:300;color:#444;padding:5px;margin-right:15px;}
#infom .news .list h4 span {font-size:30px;font-weight:800;font-family: 'Noto Serif KR', serif;color:#f36a26;}
#infom .news .list p {font-weight:500;color:#333;line-height:3.5;}

#infom .pm_slide {width:280px;border-radius:20px 0 20px 0;overflow:hidden;box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);}
#infom .pm_slide figure {width:100%;}
#infom .pm_slide figure img {width:100%;}

#franchise {display:flex;}
#franchise>* {width:50%;height:450px;}
#franchise .call {background:url(../img/franbkg.jpg)no-repeat center center/cover;}
#franchise .call ul {text-align:center;width:500px;padding:0 15px;margin-left:354px;margin-top:70px;}
#franchise .call strong {display:block;font-size:15px;font-weight:700;color:#fff;padding:0 0 8px 0;width:120px;border-bottom:4px solid #0d4633;margin:0 auto 10px auto;}
#franchise .call h3 {font-size:35px;font-weight:700;color:#fff;margin-bottom:50px;text-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);}
#franchise .call .onlym {display:none;}
#franchise .info {background:#fff;padding:30px 0;border:3px solid #0d4633;}
#franchise .info h4 {font-size:20px;font-weight:700;margin-bottom:10px;color:#0d4633;}
#franchise .info span {display:block;width:1px;height:30px;margin:10px auto;background:#ba835a;}
#franchise .info p {font-size:15px;font-weight:300;line-height:1.2;color:#0d4633;}
#franchise .txtbox {background:#0d4633;}
#franchise .txtbox ul {width:500px;margin:70px 0 0 100px;}
#franchise .txtbox h3 {font-size:18px;font-weight:500;text-align:center;margin-bottom:20px;color:#fff;}
#franchise .txtbox p {font-size:15px;font-weight:300;margin-right:10px;}
#franchise .txtbox input {outline:none;border:none;font-size:14px;border-radius:2px;}
#franchise .name {height:30px;width:150px;float:left;margin-right:20px;border-bottom:1px solid #fff;}
#franchise .mail {height:30px;width:330px;border-bottom:1px solid #fff;}
#franchise .title {margin-top:20px;width:100%;height:30px;border-bottom:1px solid #fff;}
#franchise .tbox {margin-top:20px;width:100%;height:100px;border:none;border-bottom:none;background:#fff;margin-bottom:20px;}
#franchise button {width:100%;height:30px;background:#ba835a;border:none;outline:none;border-radius:2px;color:#fff;}

@media (max-width:768px) {
     
    /** 공지사항,이벤트, 채용안내 - 탭메뉴 **/
    #infom {padding-bottom:50px;}
    #infom h2 {font-family: 'Noto Serif KR', serif;font-size:30px;font-weight:900;margin-bottom:50px;text-align:center;position: relative;}

    #infom .container {width:auto;padding:0 15px;margin:0 auto;display:block;justify-content:space-between;}
    #infom .j_slide {width:100%;border-radius:20px 0 20px 0;box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);margin-bottom:30px;}
    #infom .j_slide .job {padding:40px 30px;}
    #infom .j_slide .job strong {display:block;font-size:18px;font-weight:900;margin-bottom:20px;}
    #infom .j_slide .job h3 {font-weight:500;line-height:1.2;margin-bottom:20px;color:#0d4633;}
    #infom .j_slide .job p {font-size:14px;font-weight:300;margin-bottom:20px;color:#444;}
    #infom .j_slide .job span {display:block;width:25%; padding:25px 0;background:#f36a26;color:#fff;border-radius:50%;text-align:center;margin-left:193px;}

    #infom .news {width:100%;margin-bottom:30px;}
    #infom .news h3 {font-size:18px;font-weight:900;margin-bottom:0px;text-align:center;}
    #infom .news .plus {text-align:right;}
    #infom .news .plus i {color:#fff;background:#ba835a;padding:3px;border-radius:50%;}
    #infom .news .list {border-bottom:2px solid #0d4633;}
    #infom .news .list>a {display:flex;text-align:center;}
    #infom .news .list h4 {font-size:13px;font-weight:300;color:#444;padding:5px;margin-right:15px;}
    #infom .news .list h4 span {font-size:30px;font-weight:800;font-family: 'Noto Serif KR', serif;color:#f36a26;}
    #infom .news .list p {font-size:14px;font-weight:500;color:#333;line-height:3.5;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

    #infom .pm_slide {width:100%;border-radius:20px 0 20px 0;overflow:hidden;box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);}
    #infom .pm_slide figure {width:100%;}
    #infom .pm_slide figure img {width:100%;}

    #franchise {display:block;width:auto;}
    #franchise>* {width:100%;height:500px;}
    #franchise .call {background:url(../img/franbkg.jpg)no-repeat center center/cover;}
    #franchise .call ul {text-align:center;width:100%;padding:0 15px;margin-left:0px;padding-top:70px;}
    #franchise .call strong {display:block;font-size:15px;font-weight:500;color:#fff;padding:0 0 8px 0;width:120px;border-bottom:4px solid #0d4633; margin:0 auto 5px auto;}
    #franchise .call h3 {font-size:35px;font-weight:700;color:#fff;margin-bottom:50px;text-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.1);}
    #franchise .call .onlym {display:block;margin:40px auto 0 auto;font-size:15px;font-weight:700;color:#fff;width:150px;padding:10px 0;border-radius:30px;background:#0d4633;}
    #franchise .info {background:#fff;padding:30px 0;border:3px solid #0d4633;}
    #franchise .info h4 {font-size:20px;font-weight:700;margin-bottom:10px;color:#0d4633;}
    #franchise .info span {display:block;width:1px;height:30px;margin:10px auto;background:#ba835a;}
    #franchise .info p {font-size:15px;font-weight:300;line-height:1.2;color:#0d4633;}
    #franchise .txtbox {display:none;}
}

/** 푸터 **/
#footer {background:#333;color:#ddd;text-align:center;padding:50px 0 0 0;}
    


#footer .top ul {display:flex; justify-content:center;margin-bottom:0;font-size:14px;font-weight:100;}
#footer .top ul>li {margin-bottom:3px;font-size:13px;line-height:1.6;}
#footer .top ul img {margin-bottom:20px;}
#footer .top ul>li~li {padding-left:20px;position:relative;}
#footer .top ul>li~li:before {content:"";display:block;position:absolute;top:50%;left:10px;transform:translateY(-50%); width:1px;height:9px;background:#ddd;}
#footer .top ul>li br {display:none;}
#footer .sns {display:flex;margin:0 auto;}
#footer .sns li {font-size:30px;}
#footer span {display:block;width:100%;height:1px;margin:10px auto 10px auto;background:#999;}

#footer address {font-size:12px;font-weight:100;background:#0d4633;padding:12px 0;}


@media (max-width:768px) {
    #footer {background:#0d4633;color:#ddd;text-align:center;padding:50px 0 0 0;}
    

    #footer .top ul {display:block;justify-content:center;margin-bottom:0;font-size:14px;font-weight:100;}
    #footer .top ul:nth-child(2) {display:none;}
    #footer .top ul>li {display:block;justify-content:center;margin-bottom:3px;font-size:13px;line-height:1.6;}
    #footer .top ul img {margin-bottom:20px;}
    #footer .top ul>li~li:before {display:none;}
    #footer .top ul>li br {display:block;}
    #footer .top .sns {display:flex;margin:0 auto;}
    #footer .top .sns li {font-size:20px;}
    #footer span {display:block;width:100%;height:1px;margin:10px auto 10px auto;background:#999;}
    #footer .info {display:none;}
    #footer address {font-size:12px;font-weight:100;background:#ba835a;padding:12px 0;}
}













